Checks: clang-analyzer-*, clang-*,
        performance-*,
        bugprone-*,
        concurrency-*, 
        portability-*,
        -bugprone-reserved-identifier,
        -bugprone-standalone-empty,
        -bugprone-stringview-nullptr,
        -bugprone-easily-swappable-parameters,
        -performance-avoid-endl,
        -portability-avoid-pragma-once,
        # readability-*, -readability-identifier-length, -readability-magic-numbers, -readability-implicit-bool-conversion,
        # boost-*

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: "file"